html {
    font-family: 'Inter', sans-serif;
}

:root {
    --color-primary: #E30427;
    --color-secondary: #06367A;
}
*{
    margin: 0;
    padding: 0;
}

.steps {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.title {
    font-size: 64px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -0.96px;
}

.steps-grid {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

}

.step__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 8px;

}

.step__number {
    color: var(--color-primary);
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1.5px;
    line-height: 60px;
    margin-bottom: 16px;

}

.step__desc {
    color: #252532;
    opacity: 0.7;
    font-size: 16px;
    line-height: 26px;
}




.project-content {
    background-color: #FFFFFF;
    padding: 40px 32px;
}
.projects {
    padding: 172px 0px 172px 0px;
    background-color: #F5F5F5;
}
.project__card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}
.projects-grid {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.project__image {
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0px 0px;
}
.project__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
    letter-spacing: -0.96px;
}
.project__desc {
    color: #252532;
    font-size: 16px;
    line-height: 26px;
}
