{% extends "base.html" %}
{% import "components/button.html" as component_button %}
{% import "components/contract.html" as component_contract %}
{% import "components/step.html" as component_step %}
{% import "components/service.html" as component_split %}
{% import "components/project.html" as component_project %}

{% block content %}
<div class="page">
    <section class="steps">
        <h2 class="title">Nabízíme</h2>
        <div class="steps-grid">
            {% for step in section.extra.step %}
            {{ component_step::render(
            number=step.number,
            title=step.title,
            desc=step.desc
            ) }}
            {% endfor %}
        </div>
    </section>



    <section class="services">
        <h2 class="title">Naše služby</h2>
        <div class="services-grid">
            {% for service in section.extra.service %}
            {{ component_split::render(
            title=service.title,
            description=service.desc,
            list=service.list,
            slides=service.slides
            ) }}
        {% endfor %}
    </div>
</section>
<section class="projects">
    <div class="projects__container">
    <h2 class="title">Naše projekty</h2>
    <div class="projects-grid">
        {% for project in section.extra.projects %}
            {% endfor %}
        </div>
    </section>
    <section class="projects">
        <h2 class="title">Naše projekty</h2>
        <div class="projects-grid">
            {% for project in section.extra.projects %}
            {{ component_project::render(
            image=project.image,
            title=project.title,
            desc=project.desc,
            imageAlt=project.imageAlt
            ) }}
        {% endfor %}
    </div>
    </div>
</section>
{% endblock content %}

            {% endfor %}
        </div>
    </section>
    <section class="contracts">
        {% for contract in section.extra.contracts %}
        {{ component_contract::render(
        image=contract.image,
        imageAlt=contract.imageAlt,
        title=contract.title,
        desc=contract.desc,
        primary_label=contract.primary_label,
        primary_href=contract.primary_href,
        secondary_label=contract.secondary_label,
        secondary_href=contract.secondary_href
        ) }}
        {% endfor %}
    </section>




    {% endblock content %}