{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
{% set d = section.extra %}

{% include "sections/hero.html" %}
{% include "sections/steps.html" %}
{% include "sections/services.html" %}
{% include "sections/product.html" %}
{% include "sections/audience.html" %}

{% include "sections/process.html" %}
{% include "sections/projects.html" %}
{% include "sections/testimonials.html" %}
{% include "sections/contracts.html" %}
{% include "sections/faq.html" %}
{% include "sections/about.html" %}

{% include "sections/contact.html" %}
{% include "sections/cta.html" %}

{% endblock content %}
