{% extends "base.html" %}
{% import "components/step.html" as component_step %}

{% block content %}
<div class="page">
    <section class="steps">
        <h2 class="title">Nabízíme</h2>
        <div class="steps-grid">
            {% for step in section.extra.step %}
            {{ component_step::render(
            number=step.number,
            title=step.title,
            desc=step.desc
            ) }}
            {% endfor %}
        </div>
    </section>



    <section class="services">
        <h2 class="title">Naše služby</h2>
        <div class="services-grid">
            {% for service in section.extra.service %}
            {{ component_split::render(
            image=service.image,
            title=service.title,
            description=service.desc,
            list=service.list
            ) }}
        {% endfor %}
    </div>
</section>
{% endblock content %}
